
/* ========================================
FUENTE GENERAL
======================================== */

html,
body,
[class*="css"] {

    font-family: 'Segoe UI', sans-serif;
}

/* ========================================
FONDO GENERAL
======================================== */

.stApp {

    background-color: #F4F5F7;
}

/* ========================================
PADDING GENERAL
======================================== */

.block-container {

    padding-top: 1rem;

    padding-left: 2rem;

    padding-right: 2rem;

    max-width: 1100px;
}

/* ========================================
LOGO
======================================== */

img {

    margin-top: 10px;

    margin-bottom: 10px;
}

/* ========================================
TITULO PRINCIPAL
======================================== */


.main-title {

    color: #001B57;

    font-family: "Times New Roman", serif;

    font-size: 80px;

    font-weight: 500;

    line-height: 0.9;

    margin-top: 24px;

    margin-bottom: 0px;

    padding-bottom: 10px;

    border-bottom: 5px solid #1E4ED8;

    display: table;

    margin-left: auto;

    margin-right: auto;

    text-align: center;
}

.distribuidora {

    display: block;

    font-family: Arial, sans-serif;

    color: #001B57;

    font-size: 20px;

    font-weight: 500;

    letter-spacing: 2px;

    margin-top: 5px;

    padding-top: 0px;
}

.lista-precios {

    
    border-bottom: 3px solid #1E4ED8;

    margin-top: 24px;

    margin-bottom: 50px;

    color: #001B57;

    font-size: 22px;

    font-weight: 600;
}

/* ========================================
LABELS
======================================== */

label {

    color: #001B57 !important;

    font-size: 18px !important;

    font-weight: 600 !important;
}

/* ========================================
SELECTBOX
======================================== */

/* .stSelectbox div[data-baseweb="select"] {

    border: 1px solid #D9DFEA !important;

    min-height: 58px !important;

    background-color: white !important;

    color: #001B57 !important;

    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
} */

/* ========================================
BUSCADOR
======================================== */

/* .stTextInput input {

    border: 1px solid #D9DFEA !important;

    min-height: 58px !important;

    font-size: 18px !important;

    padding-left: 18px !important;

    background-color: white !important;

    color: #001B57 !important;

    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
} */

/* ========================================
PLACEHOLDER
======================================== */

.stTextInput input::placeholder {

    color: #7D8799 !important;
}

/* ========================================
TABLA GENERAL
======================================== */

[data-testid="stDataFrame"] {

    border-radius: 22px;

    overflow: hidden;

    border: 1px solid #E3E8F0;

    background-color: white;

    margin-top: 20px;
}

/* ========================================
HEADER TABLA
======================================== */

[data-testid="stDataFrame"] thead tr th {

    background-color: #001B57 !important;

    color: white !important;

    font-size: 18px !important;

    font-weight: 700 !important;

    border: none !important;
}

/* ========================================
FILAS
======================================== */

[data-testid="stDataFrame"] tbody tr {

    background-color: white !important;

    border-bottom: 1px solid #ECEFF5 !important;

    height: 65px !important;
}

/* ========================================
HOVER
======================================== */

[data-testid="stDataFrame"] tbody tr:hover {

    background-color: #F7F9FC !important;
}

/* ========================================
CELDAS
======================================== */

[data-testid="stDataFrame"] tbody td {

    font-size: 17px !important;

    color: #001B57 !important;

    border: none !important;
}

/* ========================================
PRECIO
======================================== */

[data-testid="stDataFrame"] tbody td:last-child {

    font-weight: 700 !important;
}

/* ========================================
WARNING
======================================== */

.stAlert {

    border-radius: 14px !important;
}

/* ========================================
CAPTION
======================================== */

.stCaption {

    color: #001B57 !important;

    font-size: 15px !important;

    margin-top: 10px;
}

/* ========================================
MOBILE
======================================== */

@media (max-width: 768px) {

    .block-container {

        padding-left: 1rem;

        padding-right: 1rem;
    }

    .main-title {

        font-size: 38px;
    }
}
